.after1::after{
    content: " Prueba After"
}
.before1::before{
    content: "Prueba Before "
}

/* Para que la transición funcione al inicio y al final se pone dentro del PARENT del class (div, section, etc) */
div{
    transition: background-color 800ms;
}

div:hover{
    background-color:  red;
}

button {
    margin-top: 50px;
    margin-left: 50px;
    animation: float 1000ms infinite alternate-reverse;
    transition: all 5000ms;
}

button:hover{
    background-color: black;
    color: white;
}
/* Definiendo una animación de transladar en Y y rotar en deg */

@keyframes float {
    0% {
        transform: translateY(-50px) rotate(0deg) scale(1);
    }
    100% {
        transform: translateY(50px) rotate(-360deg) scale(2);
    }
}

body:active{
    background-color:black;
}